/* About Us Page styling */
.about-us-page {
  background-color: #A7C7E7; /* Set background color */
  color: #333; /* Adjust text color for contrast */
  padding: 20px;
  font-family: 'Pixelify Sans', sans-serif;
  min-height: 100vh; /* Ensure full height */
  box-sizing: border-box;
}

/* Heading Styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em; /* Increase font size for heading */
  line-height: 1.2;
}

/* Paragraph Styles */
p {
  text-align: center;
  line-height: 1.6;
  font-size: 1.2em; /* Increase font size for paragraphs */
}
